@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins';

}

header {
    text-align: center;
}

main {
    text-align: center;
    padding: 0px 60px 0px 60px;
}

main h2 {
    font-weight: bolder;
    font-size: 28px;

}

main p {

    font-weight: lighter;
    font-size: 14px;
}

.content {
    position: relative;
    height: 100%;
    display: flex;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.content::before {
    opacity: 0.2;
    content: '';
    position: absolute;
    background-image: url('assets/bg-content.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 30px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content span {
    position: relative;
    color: black;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
}


.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 100%;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    font-size: 30pt;
}

.lesson {
    float: left;
    width: 31.5%;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 50px;
    /* padding-bottom: 10px; */
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    width: 100%;
    color: white;
}

.lesson-icon img {
    height: 250px;
    margin-left: 0%;
    position: absolute;
    left: -8%;
    top: -17.2%;
    border-radius: 10% 10% 64% 35% / 10% 10% 79% 42%;
}

.bg-icon {
    display: inline-block;
    height: 225px;
    width: 220px;
    background-color: rgb(244, 67, 54);
    position: relative;
    /* border-radius: 80% 20% 70% 30% / 37% 18% 82% 63%; */
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    /* z-index: 5; */
    box-shadow: rgba(244, 67, 54, 0.4) -5px 5px, rgba(244, 67, 54, 0.3) -10px 10px, rgba(244, 67, 54, 0.2) -15px 15px, rgba(244, 67, 54, 0.1) -20px 20px, rgba(244, 67, 54, 0.05) -25px 25px;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background-color: rgb(244, 67, 54);
        box-shadow: rgba(244, 67, 54, 0.4) -5px 5px, rgba(244, 67, 54, 0.3) -10px 10px, rgba(244, 67, 54, 0.2) -15px 15px, rgba(244, 67, 54, 0.1) -20px 20px, rgba(244, 67, 54, 0.05) -25px 25px;
    }
    
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background-color: rgb(76, 175, 80);
        box-shadow: rgba(76, 175, 80, 0.4) -5px 5px, rgba(76, 175, 80, 0.3) -10px 10px, rgba(76, 175, 80, 0.2) -15px 15px, rgba(76, 175, 80, 0.1) -20px 20px, rgba(244, 67, 54, 0.05) -25px 25px;
        /* background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); */
    }
    
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background-color: rgb(244, 67, 54);
        box-shadow: rgba(244, 67, 54, 0.4) -5px 5px, rgba(244, 67, 54, 0.3) -10px 10px, rgba(244, 67, 54, 0.2) -15px 15px, rgba(244, 67, 54, 0.1) -20px 20px, rgba(244, 67, 54, 0.05) -25px 25px;
        /* background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%); */
    }
    

}

.child-bg {
    height: 200px;
    width: 200px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}


.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
    color: #b3aeb5;
    text-align: left;
    /* margin-left: 20%; */
    font-weight: 500;
    margin-bottom: 0%;
    text-align: center;
}

.lesson .ig {
    text-align: center;
    width: 80%;
    display: inline-block;
    font-size: 14px;
    color: #b3aeb5;
    /* text-align: left; */
    /* margin-left: 20%; */
    margin-bottom: 10%;
    margin-top: 0px;
    top: 0px;
    padding: 0px;
    font-weight: lighter;
    top: -5px;
}

@media (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .content {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }

    .lesson {
        width: 100%;
    }
}