@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins';

}

header {
    text-align: center;
}

main {
    text-align: center;
    padding: 0px 60px 0px 60px;
}

main h2 {
    font-weight: bolder;
    font-size: 28px;

}

main p {

    font-weight: lighter;
    font-size: 14px;
}

.content {
    position: relative;
    height: 100%;
    display: flex;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.content::before {
    opacity: 0.2;
    content: '';
    position: absolute;
    background-image: url('assets/bg-content.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 30px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content span {
    position: relative;
    color: black;
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
}


.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 100%;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    font-size: 30pt;
}

.lesson {
    float: left;
    width: 31.5%;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    /* top: 44%; */
    width: 100%;
    color: white;
    margin-bottom: 0px;
}

.lesson-icon img {
    height: 250px;    
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
    color: #b3aeb5;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 0%;
}

.lesson .ig{
    width: 80%;
    display: inline-block;
    font-size: 12px;
    color: #b3aeb5;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 10%;
    
}

@media (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }
}

@media (max-width: 670px) {
    .content {
        padding-left: 0px;
        padding-right: 0px;
        margin-left:0px ;
    }
    
    .lesson {
        width: 100%;
    }
}

/* @media (max-width: 820px) {
    .content {
        padding-left: 0px;
        padding-right: 0px;
        margin-left:0px ;
    }
    
    .lesson {
        width: 41%;
        margin-left: 7%;
    }
} */
