@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    padding: 0px 30px 0px 30px;
    font-family: 'Poppins';
    
}

header{
  text-align: center;
}

main{
    text-align: center;
}

main p{
    
    font-weight: lighter;
    font-size: 14px;
}